<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>simple</title>
    <script>
      if (/debug=true/.test(location.search)) document.write('<script src="//shadow.elemecdn.com/npm/vconsole@3.2.0/dist/vconsole.min.js"><\/script>')
    </script>
    <script>
      if (window.VConsole) {
        new window.VConsole()
      }
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but simple doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
